@import "tailwindcss";

@theme{
    --color-check-background-start: hsl(192, 100%, 67%);
    --color-check-background-end: hsl(280, 87%, 65%);
    --color-bright-blue: hsl(220, 98%, 61%);

    --color-neutral-very-light-gray: hsl(0, 0%, 98%);
    --color-neutral-very-light-grayish-blue: hsl(236, 33%, 92%);
    --color-neutral-light-grayish-blue: hsl(233, 11%, 84%);
    --color-neutral-dark-grayish-blue: hsl(236, 9%, 61%);
    --color-neutral-very-dark-grayish-blue: hsl(235, 19%, 35%);

    --color-neutral-very-dark-blue: hsl(235, 19%, 11%);
    --color-neutral-very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --color-neutral-light-grayish-blue: hsl(234, 39%, 85%);
    --color-neutral-light-grayish-blue-hover: hsl(236, 33%, 92%);
    --color-neutral-dark-grayish-blue: hsl(234, 11%, 52%);
    --color-neutral-very-dark-grayish-blue: hsl(233, 14%, 35%);
    --color-neutral-very-dark-grayish-blue-alt: hsl(237, 14%, 26%);
}